<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">

  </head>
<body>

  
<section class="bg-dark warning p-5 p-lg-0 pt-lg-5 text-center text-sm-start" style="z-index:10" >
<h1 class="text-warning d-flex justify-content-center">IL FORUM ITALICO</h1>
</section>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 10">

  <div class="container-fluid" style="z-index: 10">
    <a class="navbar-brand" href="#">IL FORUM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="z-index: 10">
      <div class="navbar-nav">
        {%  if user.is_authenticated %}
        <a class="nav-link" aria-current="page" id="home "href="/">Pagina Casa</a>
        <a class="nav-link" id="logOut" href="/logout">Logout</a>
        <a class="nav-link" href="profilo">Il mio profilo</a>
        {% else %}
        <a class="nav-link" id="login" href="/login">Login</a>
        <a class="nav-link" id="signUp" href="/sign-up">Signup</a>
        {% endif %}
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Inserisci un testo" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Ricerca</button>
      </form>
      </div>
    </div>
  </div>
</nav>
{% with messages = get_flashed_messages(with_categories = true) %}
{%  if messages %}
  {%  for category, message in messages %}
  {%  if category == 'error' %}
    <div class="alert alert-danger fade show" role="alert">
      {{  message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{  message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true"> X </span>
      </button>
    </div>
  {%  endif %}
  {%  endfor %}
{%  endif %}
{%  endwith %}


<div class="container">
    {% block content %} {% endblock %}
</div>

<script
type="text/javascript"
src="{{ url_for('static',filename='index.js') }}"
>
</script>
</body>
</html>
