{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %} 
<h1>Benvenuto</h1>
{{prova}}
<ul>
    {% for t in tList %}
    <li>{{t.name}} se ti interessa clicca <a href="{{ url_for('views.see_thread', id= 1 )}}">Qua</a></li>
    {% endfor %}
</ul>

{% endblock %}
