{% extends "base.html" %}
{% block title %}Registrazione{% endblock %}

{% block content %}

</div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <form method="POST">
               <h3 align="center">Sign Up</h3>
               <div class="form-group">
                 <label for="email">Email Address</label>
                 <input
                   type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Enter email"
                 />
               </div>
               <div class="form-group">
                 <label for="name">Name</label>
                 <input
                   type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   placeholder="Enter name"
                 />
               </div>
               <div class="form-group">
                 <label for="surname">Surname</label>
                 <input
                   type="text"
                   class="form-control"
                   id="surname"
                   name="surname"
                   placeholder="Enter surname"
                 />
               </div>
               <div class="form-group">
                 <label for="username">Username</label>
                 <input
                   type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="Enter username"
                 />
               </div>
               <div class="form-group">
                 <label for="password1">Password</label>
                 <input
                   type="password"
                   class="form-control"
                   id="password1"
                   name="password1"
                   placeholder="Enter password"
                 />
               </div>
               <div class="form-group">
                 <label for="password2">Password (Confirm)</label>
                 <input
                   type="password"
                   class="form-control"
                   id="password2"
                   name="password2"
                   placeholder="Confirm password"
                 />
               </div>
               <br />
               <button type="submit" class="btn btn-primary">Submit</button>
             </form>
         </div>
      </div>


{% endblock %}