{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %} 
<h1>Pagina dei thread</h1>
<ul>
    {% for p in posts %}
    <li>post = {{p.content}}</li>
    {% endfor %}
</ul>


{% endblock %}
